:root{
    /* black color */
    --maincolor-black1: #1d1d1f;
  /* gray clolr */
    --maincolor-gray1:#999;
    --maincolor-gray2:#6e6e73;
    --maincolor-gray3:#424245;
    --maincolor-gray4:#f8f8f9;
    /* blue color */
    --maincolor-blue:#0066cc;
    /* orangecolor */
    --maincolor-orange:#bf4800;
    /* green */
    --maincolor-green:#00ff41;

    /* background color */
    --backgroundcolor-gray:#f8f8f9;
    --backgroundcolor-header: rgba(0,0,0,0.8);
}

.hide
{
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(0px 0px 99.9% 99.9%);
  overflow: hidden;
  height: 1px;
  width: 1px;
}

.unit-link{
  display: block;
  position: absolute;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.nav-header{
  background-color: rgba(0,0,0,0.8);
}

.nav-header>ul {
  display: flex;
  justify-content: space-between;
  width: 995px;
  margin: 0 auto;
  max-width: 835px;
}

.nav-header  li {
  height: 43px;
}

.header-applelogo{
  width: 14px;
  background-image: url(img/apple\ logo.svg);
  background-repeat: no-repeat;
  background-size: 14px 44px;
  background-position: center center;
}

.store{
  width: 39px;
  background-image: url(img/apple-header-store.svg);
  background-repeat: no-repeat;
}

.mac{
  width:39px;
  background-image: url(img/apple-header-mac-text.svg);
  background-repeat: no-repeat;
}

.ipad{
  width: 40px;
  background-image: url(img/apple-header-ipad-text.svg);
  background-repeat: no-repeat;
}

.iphone{
  width: 53px;
  background-image: url(img/apple-header-iphone-text.svg);
  background-repeat: no-repeat;
}

.watch{
  width: 50px;
  background-image: url(img/appel-header-watch.svg);
  background-repeat: no-repeat;
}

.airpods{
  width: 59px;
  background-image: url(img/apple-header-airpods-text.svg);
  background-repeat: no-repeat;
}

.tv-and-home{
  width: 57px;
  background-image: url(img/apple-header-tv\ and\ home.svg);
  background-repeat: no-repeat;
}

.only-apple{
  width: 96px;
  background-image: url(img/apple-header-only-apple-text.svg);
  background-repeat: no-repeat;
}

.accessories{
  width: 55px;
  background-image: url(img/apple-header-acc.svg);
  background-repeat: no-repeat;
}

.coustomer{
  width: 54px;
  background-image: url(img/apple-header-customer.svg);
  background-repeat: no-repeat;
}

.search{
  width: 30px;
  background-image: url(img/apple-header-search-icon.svg);
  background-repeat: no-repeat;
}

.my-bag{
  width: 28px;
  background-image: url(img/apple-header-mybag.svg);
  background-repeat: no-repeat;
}

.selection-earphone{
  display: flex;
  padding-top: 8px;
  padding-bottom: 8px;
  margin: 0 auto;
  width: 800px;
}

.selection-earphone>li {
  margin: 10px;
  margin: 0 auto;
}

.airpods2gen-imgarea {
  background-image: url(img/airpods-menu-list-airpods2gen.svg);
  width: 39px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 10px;
}

.airpods3gen-imgarea {
  background-image: url(img/airpods-menu-list-airpods3gen.svg);
  width: 33.98px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 8px;
}

.airpods-pro2gen-imgarea {
  background-image: url(img/airpods-menulist-airpodspro2gen.svg);
  width: 38.98px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 5px;
}

.airpods-max-imgarea {
  background-image: url(img/menulist-airpodsmax.svg);
  width: 38.98px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 8px;
}

.comparison-container-imgarea {
  background-image: url(img/airpods-menu-list-\ compare.svg);
  width: 50px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 8px;
}

.apple-music-imgarea {
  background-image: url(img/apple_music_light__fexraacz3dme_large.svg);
  width: 42px;
  height: 53.98px;
  background-repeat: no-repeat;
  margin: 0 auto;
  margin-bottom: 8px;
}

.selection-earphone-text {
  font-size: 12px;
  color: var(--maincolor-black1);
}

.new-text {
  font-size: 12px;
  color: var(--maincolor-orange);
}

a{
  text-decoration: none;
}

.more-impormation {
  background-color: var(--maincolor-gray4);
  height: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.more-impormation>p {
  text-align: center;
  font-size: 12px;
  color: #1d1d1f;
}

.more-impormation a{
  color: var(--maincolor-blue);
}

#about-airpods{
  padding-top: 32px;
}

.detail-airpodspro {
  background-image: url(img/airpodspro-main-img.jpg);
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0 auto;
  position: relative;
}

.detail-airpodspro-headtittle {
  color: var(--maincolor-green);
  font-size: 21px;
  font-weight: bold;
  text-align: center;
}

.appeal-airpodspro-text {
  color: #f5f5f7;
  font-size: 100px;
  font-weight: bold;
  text-align: center;
}

